*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: classique;

  header {
    height: 20vh;
    background-color: black;
    background-image: url(./assets/images/La_Comte_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;

    h1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      color: white;
      text-align: center;
      font-size: 4rem;
      text-shadow: white 0px 0px 10px;
    }

    div {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 70px;
      background-color: #484926b7;
      border-radius: 50px 50px;
      border-color: transparent;

      .switch {
        width: 50px;
        height: 30px;
        background-color: transparent;
        position: relative;

        button {
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
          border-style: none;
          background-color: #d8d2bc;
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }

    .off {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 5%;
      right: 2px;
      background-color: transparent;
      border: none;

      .fa-power-off {
        font-size: 20px;
        color: white;
        cursor: pointer;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 25px;

    h2 {
      font-size: 2rem;
      text-decoration: underline;
      text-align: center;
    }

    #afficheSynopsis {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 35px;
      padding-top: 50px;
      height: auto;

      img {
        width: 35%;
      }

      #synopsis {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 80vh;

        p {
          width: 90%;
          font-size: 1.2rem;
        }

        iframe {
          width: 80%;
          height: 60%;
        }
      }
    }

    #casting {
      padding-top: 50px;

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;

          img {
            border-radius: 10px;
          }
        }
      }
    }

    #commentaire {
      padding-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;

      div {
        p {
          font-size: 1.2rem;
          padding-top: 15px;
          text-justify: auto;
        }
      }

      img {
        width: 50%;
        height: 40%;
      }
    }
  }
}

@font-face {
  font-family: elfique;
  src: url(./assets/font/elvish\ ring\ nfi.ttf);
}

@font-face {
  font-family: classique;
  src: url(./assets/font/EagleLake-Regular.ttf);
}

/* Css pour la connexion */
#connexion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./assets/images/oneRing.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  text-align: center;

  #loginForm {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 450px;

    label {
      color: white;
      text-decoration: underline;
      text-shadow: black 0px 0px 10px;
    }

    input {
      font-family: classique;
      background-color: rgba(255, 255, 255, 0.774);
      border: none;
      border-radius: 15px;
      padding: 5px 15px;
    }

    input:last-child {
      background: linear-gradient(to right, #ff9a28 50%, rgba(255, 255, 255, 0.774) 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease-out;
      cursor: pointer;
    }

    input:last-child:hover {
      background-position: left bottom;
      color: #fac001;
      text-shadow: black 0px 0px 10px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#registerForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./assets/images/oneRing.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  width: 350px;
  height: 450px;

  label {
    color: white;
    text-decoration: underline;
    text-shadow: black 0px 0px 10px;
  }

  input {
    font-family: classique;
    background-color: rgba(255, 255, 255, 0.774);
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
  }

  input:last-child {
    background: linear-gradient(to right, #ff9a28 50%, rgba(255, 255, 255, 0.774) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    cursor: pointer;
  }

  input:last-child:hover {
    background-position: left bottom;
    color: #fac001;
    text-shadow: black 0px 0px 10px;
  }
}

@media (width<1440px) {
  body {
    header {
      h1 {
        font-size: 3rem;
      }
    }

    main {
      #afficheSynopsis {
        #synopsis {
          height: 65vh;
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (width<850px) {
  body {
    header {
      h1 {
        font-size: 2rem;
      }
    }

    main {
      #afficheSynopsis {
        flex-direction: column;

        img {
          width: 50%;
        }

        #synopsis {
          height: 50vh;

          p {
            font-size: 0.8rem;
          }

          iframe {
            width: 80%;
          }
        }
      }

      #commentaire {
        flex-direction: column;

        div {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (width<500px) {
  body {
    header {
      h1 {
        font-size: 1.5rem;
      }
    }

    main {
      #afficheSynopsis {
        img {
          width: 80%;
        }

        #synopsis {
          height: 60vh;
        }
      }

      #casting {
        ul {
          justify-content: center;
          li {
            font-size: 0.8rem;
            img{
              width: 80%;
            }
          }
        }
      }
      #commentaire{
        img{
          width: 80%;
        }
      }
    }
  }
}